/*
  CSS
  
- @media               	: Parte responsavél pelo layout responsivo;
- .arrow e .down-arrow 	: Fazem o efeito de triangulo branco invertido;
- .container           	: "Corpo" da pagina;
- header e footer      	: Cabeçalho e rodapé respectivamente, responsáveis pelos logos;
- .banner e .text      	: Responsaveis pela imagem e texto principais;
- .animation            : Responsável pelo encurtador de links/animação;
- .info                 : Responsável pelo TOP 5;
- .hits					: Pré rodapé responsavel pelo contador de cliques (área cinza).

*/

html{
	font-family:'Roboto', sans-serif;
	font-size:62.5%;
	font-size:0.63em;
	font-weight:bold;
	text-align:center;
	color:#AA1423;
	margin-left:-10px;
}

a{
	text-decoration:none;
	color:#AA1423;
}

.container header{
	padding:5px;
}

header img{
	max-width:10rem;
}

.banner{
	height:63.5em;
	margin-right:-8px;
	color:#FFFFFF;	
	background-image:url("../Assets/background-home.jpg");
	background-size:100% 100%;
}

.banner .button{
	font-weight:bold;
	margin:0px 0px 0px 6px;
	color:#FFFFFF;
	border:0px;
	background:#ff6e15;
	font-size:1.5em;
	width:10rem;
	height:3.4rem;
}

.text{
	font-family:'Roboto Slab', serif;
	padding-top:10rem;	
}

.text p{
	font-weight:normal;
	font-size:2.5em;
}

.text h1{
	font-size:4.3em;
}

.animation{
	position:relative;
	display:inline-block;
}

.animation input{
	position:relative;
	display:inline-block;
	font-family:'Roboto', sans-serif;
	font-weight:bold;
	font-size:1.5em;
	color:#ff6e15;
	border:0px;
	border-bottom:2px solid #ff6e15;
	background:none;
	margin-top:5rem;
	width:40rem;
	height:2.8rem;
	font-size:2em;
}

::-webkit-input-placeholder{
	color:#ff6e15;
}

.animation .clean_animation{
	display:none;
	color:#FFFFFF;
	position:absolute;
	bottom:5px;
	right:0px;
	font-weight:bold;
	font-size:2.5em;
	padding:0em 0.2em;
	line-height:1em;
	cursor:pointer;
}

.info{
	margin-top:10rem;
	margin-bottom:10rem;
	font-family:'Roboto Slab', serif;
	font-size: 3.5em;
}

.info table{
	font-family:'Roboto', sans-serif;
	font-size:0.7em;
	margin-right:auto;
	margin-left:auto;
}

td:nth-child(even){
	text-align:right;
	font-weight:normal;
	color:gray;
	border-bottom:1px solid #ddd;
	padding: 1.5rem 0rem 1.5rem 17rem;
}

td:nth-child(odd){
	text-align:left;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	padding: 1.5rem 17rem 1.5rem 0rem;
}

.arrow{
	margin-right:-8px;
	background-color:#EEE;
}

.down-arrow:before{
	content:"";
	display:inline-block;
	border-left: 3.5rem solid transparent;
	border-right: 3.5rem solid transparent;
	border-top: 3.5rem solid #FFFFFF;
}

.hits{
	font-size: 3em;
	margin-right:-8px;
	font-family:'Roboto Slab', serif;
	background-color: #EEE;
}

.hits p{
	color:#777;
	font-size:0.5em;
	margin-bottom:4rem;
}

.hits .hits_value{
	width:17rem;
	margin-right:auto;
	margin-left:auto;
	border:1px solid #ddd;
	background-color:#FFFFFF;
	margin-top:2rem;
}

.footer{
	background-color:#FFFFFF;
	color:#AA1423;
}

.footer table{
	margin-right:auto;
	margin-left:auto;
	font-size:1.2em;
}

.footer table td{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.footer footer img{
	max-width:2.5rem;
}
	
@media only screen and  (min-width: 1600px){
    html{
		font-size:0.83em;
	}
}

@media only screen and  (min-width: 1300px) and (max-width: 1600px) {
    html{
		font-size:0.73em;
	}
}

@media only screen and  (min-width: 1000px) and (max-width: 1300px) {
    html{
		font-size:0.63em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    html{
		font-size:0.53em;
	}
}

@media only screen and (min-width: 520px) and (max-width: 768px) {
    html{
		font-size:0.43em;
	}
}

@media only screen and (min-width: 400px) and (max-width: 520px) {
	html{
		font-size:0.33em;
	}
	.banner{
		height:50em;
	}
}

@media only screen and (max-width: 400px) {
	html{
		font-size:0.23em;
	}
	.animation input{
		width:30rem;
	}
	.banner{
		height:40em;
	}
	.banner .button{
		font-size:2em;
	}
}