html{
	
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	font-weight: bold;
	text-align: center;
	color:#AA1423;
	margin-left:-2.2%;

}
.container{
	width:100%;
	height:100%;
}
.container header{
	padding:1%;
}

.banner{
	margin-right:-8px;
	color:white;
	text-align:center;	
	background-image:url("../Assets/background-home.jpg");
	background-size:100% 100%;
}

.banner #botao{
	font-weight: bold;
	margin:0px 0px 0px 5px;
	color:white;
	border:0px;
	background:#ff6e15;
}
.texto{
	font-family: 'Roboto Slab', serif;
}
.texto p{
	font-weight:normal;
	margin-top:-1%;
}
.animacao{
  position: relative;
  display: inline-block;
}
.animacao input{
	position: relative;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size:1.5em;
	color:   #ff6e15;
	border:0px;
	border-bottom:2px solid #ff6e15;
	background:none;
	margin-top:4%;
}
.animacao > [animacao_limpar] {
	display:none;
	color:white;
	position: absolute;
	bottom: 5px;
	right: 0;
	font-weight: bold;
	font-size: 2.5em;
	padding: 0 0.2em;
	line-height: 1em;
	cursor: pointer;
}    
::-webkit-input-placeholder {
   color: #ff6e15;
}

img {
   max-width: 100%;
}
.info{
	margin-top:8%;
	margin-bottom:10%;
	font-family: 'Roboto Slab', serif;
	
}
.info table{
	font-family: 'Roboto', sans-serif;
	font-size:0.7em;
	margin-right:auto;
	margin-left:auto;
	
	
}
td:nth-child(even){
	text-align: right;
	font-weight: normal;
	color:gray;
	border-bottom: 1px solid #ddd;
}
td:nth-child(odd){
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.hits{
	margin-right:-8px;
	font-family: 'Roboto Slab', serif;
	background-color:#EEE;
}
.hits p{
	color:#777;
	font-size:0.5em;
	margin-bottom:4%;
}
.hits .hits_value{
	margin-right:auto;
	margin-left:auto;
	border:1px solid #ddd;
	background-color:white;
	margin-top:2%;
}
.footer{
	background-color:white;
	color:#AA1423;
}
.footer table{
	margin-right:auto;
	margin-left:auto;
	font-size:1.2em;
	
}
/*Triangulo branco acima de "Hits"*/
.seta{
	margin-right:-8px;
	background-color:#EEE;
}
.seta-baixo:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 0; 
	height: 0; 
}
/*Parte responsavél pelo layout responsivo*/
/*PC*/
@media only screen and  (min-width: 1600px){
    .info{
        font-size: 5.5em;
    }
	.banner{
		height:800px;
	}
	.hits{
		 font-size: 4.0em;
	}
	.seta-baixo:before {
		border-left: 45px solid transparent;
		border-right: 45px solid transparent;
		border-top: 45px solid white;
	}
	td:nth-child(even){
		padding: 20px 0px 20px 350px;
		
	}
	td:nth-child(odd){
		padding: 20px 350px 20px 0px;
	}
	.hits .hits_value{
		width:210px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1.6em;
		width:550px;
		height:33px;
	}
	
	.texto{
		padding-top:11%;	
	}
	.banner #botao{
		font-size:1.8em;
		width:140px;
		height:45px;
	}
	.texto p{
		font-size:2.8em;
	}
	.texto h1{
		font-size:5.8em;
	}
}
/*PC tela pequena e notebooks acima de 14 polegadas*/
@media only screen and  (min-width: 1300px) and (max-width: 1600px) {
    .info{
        font-size: 4.5em;
    }
	.banner{
		height:700px;
	}
	.hits{
		 font-size: 3.5em;
	}
	.seta-baixo:before {
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-top: 40px solid white;
	}
	td:nth-child(even){
		padding: 18px 0px 18px 250px;
		
	}
	td:nth-child(odd){
		padding: 18px 250px 18px 0px;
	}
	.hits .hits_value{
		width:190px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1.5em;
		width:550px;
		height:30px;
	}
	.texto{
		padding-top:11%;	
	}
	.banner #botao{
		font-size:1.5em;
		width:120px;
		height:40px;
	}
	.texto p{
		font-size:2.6em;
	}
	.texto h1{
		font-size:5em;
	}
}
/*notebooks até 14 polegadas*/
@media only screen and  (min-width: 1000px) and (max-width: 1300px) {
    .info{
        font-size: 3.5em;
    }
	.banner{
		height:600px;
	}
	.hits{
		 font-size: 3em;
	}
	.seta-baixo:before {
		border-left: 35px solid transparent;
		border-right: 35px solid transparent;
		border-top: 35px solid white;
	}
	td:nth-child(even){
		padding: 15px 0px 15px 200px;
	}
	td:nth-child(odd){
		padding: 15px 200px 15px 0px;
	}
	.hits .hits_value{
		width:170px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1.5em;
		width:460px;
		height:28px;
	}
	.texto{
		padding-top:12%;	
	}
	.banner #botao{
		font-size:1.5em;
		width:100px;
		height:34px;
	}
	.texto p{
		font-size:2.5em;
	}
	.texto h1{
		font-size:4.3em;
	}
}
/*tablets grandes e netbooks*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .info{
        font-size: 3em;
    }
	.banner{
		height:450px;
	}
	.hits{
		 font-size: 2.5em;
	}
	.seta-baixo:before {
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		border-top: 28px solid white;
	}
	td:nth-child(even){
		padding: 12px 0px 12px 180px;
	}
	td:nth-child(odd){
		padding: 12px 180px 12px 0px;
	}
	.hits .hits_value{
		width:150px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1.3em;
		width:380px;
		height:22px;
	}
	.texto{
		padding-top:13%;	
	}
	.banner #botao{
		font-size:1.1em;
		width:85px;
		height:30px;
	}
	.texto p{
		font-size:2em;
	}
	.texto h1{
		font-size:3.5em;
	}
	.footer footer img{
		 max-width: 40%;
	}
}
/*tablets*/
@media only screen and (min-width: 520px) and (max-width: 768px) {
    .info{
        font-size: 2.5em;
    }
	.banner{
		height:350px;
	}
	.hits{
		 font-size: 2.0em;
	}
	.seta-baixo:before {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid white;
	}
	td:nth-child(even){
		padding: 9px 0px 9px 120px;
	}
	td:nth-child(odd){
		padding: 9px 120px 9px 0px;
	}
	.hits .hits_value{
		width:120px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1.2em;
		width:300px;
		height:19px;
	}
	.texto{
		padding-top:14.5%;	
	}
	.banner #botao{
		font-size:1em;
		width:70px;
		height:25px;
	}
	.texto p{
		font-size:1.6em;
	}
	.texto h1{
		font-size:2.8em;
	}
	.footer footer img{
		 max-width: 35%;
	}
}
/*Telas celulares paisagem*/
@media only screen and (min-width: 350px) and (max-width: 520px) {
    .info{
        font-size: 1.7em;
    }
	.banner{
		height:260px;
	}
	.hits{
		 font-size: 1.5em;
	}
	.seta-baixo:before {
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid white;
	}
	td:nth-child(even){
		padding: 7px 0px 7px 80px;
	}
	td:nth-child(odd){
		padding: 7px 80px 7px 0px;
	}
	.hits .hits_value{
		width:100px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:1em;
		width:200px;
		height:17px;
	}
	.texto{
		padding-top:16%;	
	}
	.banner #botao{
		font-size:0.7em;
		width:55px;
		height:20px;
	}
	.texto p{
		font-size:1.2em;
	}
	.texto h1{
		font-size:2.1em;
	}
	.footer footer img{
		 max-width: 30%;
	}
}
/*Telas celulares retrato*/
@media only screen and (max-width: 350px) {
    .info{
        font-size: 1.2em;
    }
	.banner{
		height:180px;
	}
	.hits{
		 font-size: 1em;
	}
	.seta-baixo:before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid white;
	}
	td:nth-child(even){
		padding: 5px 0px 5px 50px;
	}
	td:nth-child(odd){
		padding: 5px 50px 5px 0px;
	}
	.hits .hits_value{
		width:60px;
	}
	::-webkit-input-placeholder, .animacao input{
		font-size:0.9em;
		width:150px;
		height:15px;
	}
	.texto{
		padding-top:15%;	
	}
	.banner #botao{
		font-size:0.1em;
		width:45px;
		height:15px;
	}
	.texto p{
		font-size:1em
	}
	.texto h1{
		font-size:1.5em;
	}
	.footer footer img,header img{
		 max-width: 25%;
	}
	.footer table{
		height:5px;
	}
}